.employees-wrapper {
    .b-table {
        tbody {
            td {
                &[aria-colindex="7"] {
                    text-align: right;
                }
            }
        }
    }
}
.companies-wrapper {
    .b-table {
        tbody {
            td {
                &[aria-colindex="5"] {
                    text-align: right;
                }
                vertical-align: middle;
            }
        }
    }
}
